footer{
    width: 100%;
    margin-top: 50px;
    background-color: #000;
    background-repeat: no-repeat;
    width: 100%;
   
 
}
h3{
    color: rgb(255, 255, 255);

}
.FooterContainer{
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 20px;
}
.Footer_text{
    width: 300px;
    display: flex;
    color: rgb(255, 255, 255);
    justify-content: space-between;
}
.Footer_Pages h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    color: rgb(255, 255, 255);

    text-align: start;
    color: #000;
    font-weight: 700;
}
#Head3 {

    color: rgb(255, 255, 255);
    font-size: 25px;
    font-family: 'Quicksand', sans-serif;
    transform: rotate(270deg);
}

.Footer_Pages a{
    text-align: start;
 
    font-size: 1rem;
    font-weight: 500;
}

.FooterContact h3{
    text-transform: capitalize;
    font-size: 1.3rem;
    text-align: start;

    font-weight: 700;
}

.CopyRightContainer{
   
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* color: #000; */
    color: #fff;
    background-color: black;
   
}
h3.Quick{
    color: #fff;
    text-decoration: underline;
}
h3.contact{
    color: #fff;
    text-decoration: underline; 
}
#footimg{
    border-radius:50% ;
}

@media screen and (max-width: 562px){
    .footer{
        padding: 0px;
        /* width: 100%; */
    }
    .footimg{
        border-radius: 50%;
    }
    .social_child{
        margin-left: 40px;
    }
    h3.Quick{
        color: #fff;
        text-decoration: underline;
    }
    h3.contact{
        color: #fff;
        text-decoration: underline; 
    }
    .CopyRightContainer{
        margin-left: 20px;
        /* font-size: 4px; */
    }
   
}